<a href="https://colab.research.google.com/github/AdityaVarmaUddaraju/Fake_news_prediction_using_LSTM/blob/main/Fake_news_prediction_using_LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

   id  ... label
0   0  ...     1
1   1  ...     0
2   2  ...     1
3   3  ...     1
4   4  ...     1

[5 rows x 5 columns]

In [4]:
df = df.fillna('')

In [5]:
df.isnull().sum()

id        0
title     0
author    0
text      0
label     0
dtype: int64

In [6]:
df['corpus'] = df['title'] + ' ' + df['author'] + ' ' + df['text']

In [7]:
df.head()

   id  ...                                             corpus
0   0  ...  House Dem Aide: We Didn’t Even See Comey’s Let...
1   1  ...  FLYNN: Hillary Clinton, Big Woman on Campus - ...
2   2  ...  Why the Truth Might Get You Fired Consortiumne...
3   3  ...  15 Civilians Killed In Single US Airstrike Hav...
4   4  ...  Iranian woman jailed for fictional unpublished...

[5 rows x 6 columns]

In [8]:
from tensorflow.keras.layers import Embedding, LSTM, Dense, Dropout
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.preprocessing.text import one_hot

In [9]:
X = df['corpus']

In [10]:
y = df['label']

In [11]:
voc_size = 5000

In [12]:
#one hot representation
onehot_rep = [one_hot(words,voc_size) for words in X]

In [13]:
embedded_docs = pad_sequences(onehot_rep, padding='pre', maxlen=1000)

In [14]:
model = Sequential()
model.add(Embedding(voc_size, 300, input_length=1000))
model.add(Dropout(0.3))
model.add(LSTM(100))
model.add(Dropout(0.3))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam',metrics=['accuracy'])
print(model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 1000, 300)         1500000
_________________________________________________________________
dropout (Dropout)            (None, 1000, 300)         0
_________________________________________________________________
lstm (LSTM)                  (None, 100)               160400
_________________________________________________________________
dropout_1 (Dropout)          (None, 100)               0
_________________________________________________________________
dense (Dense)                (None, 64)                6464
_________________________________________________________________
dropout_2 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 65
=================================================================
Total params: 1,666,929
Trainable params: 1,666,929
Non-trainable params: 0
_________________________________________________________________
None

In [15]:
model.fit(embedded_docs,y, epochs=20, batch_size=64)

Epoch 1/20
325/325 [==============================] - 62s 168ms/step - loss: 0.3184 - accuracy: 0.8684
Epoch 2/20
325/325 [==============================] - 54s 167ms/step - loss: 0.2623 - accuracy: 0.8963
Epoch 3/20
325/325 [==============================] - 54s 167ms/step - loss: 0.1737 - accuracy: 0.9362
Epoch 4/20
325/325 [==============================] - 54s 167ms/step - loss: 0.2072 - accuracy: 0.9178
Epoch 5/20
325/325 [==============================] - 54s 166ms/step - loss: 0.1877 - accuracy: 0.9262
Epoch 6/20
325/325 [==============================] - 54s 166ms/step - loss: 0.1323 - accuracy: 0.9515
Epoch 7/20
325/325 [==============================] - 54s 167ms/step - loss: 0.1185 - accuracy: 0.9581
Epoch 8/20
325/325 [==============================] - 54s 168ms/step - loss: 0.1211 - accuracy: 0.9550
Epoch 9/20
325/325 [==============================] - 54s 167ms/step - loss: 0.0738 - accuracy: 0.9733
Epoch 10/20
325/325 [==============================] - 54s 167ms/step - loss: 0.0556 - accuracy: 0.9800
Epoch 11/20
325/325 [==============================] - 54s 167ms/step - loss: 0.0449 - accuracy: 0.9855
Epoch 12/20
325/325 [==============================] - 54s 167ms/step - loss: 0.0281 - accuracy: 0.9903
Epoch 13/20
325/325 [==============================] - 54s 167ms/step - loss: 0.0222 - accuracy: 0.9922
Epoch 14/20
325/325 [==============================] - 55s 168ms/step - loss: 0.0213 - accuracy: 0.9934
Epoch 15/20
325/325 [==============================] - 55s 168ms/step - loss: 0.0163 - accuracy: 0.9946
Epoch 16/20
325/325 [==============================] - 55s 168ms/step - loss: 0.0084 - accuracy: 0.9972
Epoch 17/20
325/325 [==============================] - 55s 169ms/step - loss: 0.0115 - accuracy: 0.9958
Epoch 18/20
325/325 [==============================] - 55s 168ms/step - loss: 0.0182 - accuracy: 0.9939
Epoch 19/20
325/325 [==============================] - 55s 169ms/step - loss: 0.0303 - accuracy: 0.9903
Epoch 20/20
325/325 [==============================] - 55s 168ms/step - loss: 0.0389 - accuracy: 0.9856